@import 'header.css';
@import 'footer.css';

/* Small Screens */
body {
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 6% 50% 24% 11%;
  grid-template-areas:
    'hd'
    'title'
    'main'
    'sd'
    'ft';
  grid-gap: 10px;
  font-family: 'Manrope', sans-serif;
}

h1.title {
  grid-area: title;
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
}

.back {
  grid-area: title;
  margin-left: 40px;
  width: 120px;
  height: 1rem;
}

.back:hover {
  opacity: 0.5;
}

.post {
  grid-area: main;
  margin: auto 40px;
  line-height: 1.5rem;
  text-align: justify;
}

.post-img {
  width: 200px;
}

figure {
  width: 200px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: left;
}

figcaption {
  text-align: center;
  padding: 10px 20px;
}

.author {
  grid-area: sd;
  margin: auto 40px;
  background-color: #fcf7bb;
  padding: 5px 20px;
  border-radius: 10px;
  text-align: center;
  line-height: 1rem;
}

.avatar {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.author-link-img {
  opacity: 0.7;
  width: 30px;
  height: 30px;
  margin: auto 10px;
}

.author-link-img:hover {
  opacity: 0.5;
}

/* Medium Screens */
@media (min-width: 600px) and (max-width: 900px) {
  body {
    margin: 0;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% 6% 69% 15%;
    grid-template-areas:
      'hd hd'
      'title title'
      'main sd'
      'ft ft';
    grid-gap: 10px;
    font-family: 'Manrope', sans-serif;
  }

  .post {
    margin-top: 30px;
  }

  .author {
    margin-top: 30px;
  }

  .author-link-img {
    margin: auto 1px;
  }
}

/* Large Screens */
@media (min-width: 900px) {
  body {
    margin: 0;
    display: grid;
    grid-template-columns: 64% 36%;
    grid-template-rows: 18% 9% 57% 18%;
    grid-template-areas:
      'hd hd'
      'title title'
      'main sd'
      'ft ft';
    grid-gap: 10px;
    font-family: 'Manrope', sans-serif;
  }

  .post {
    margin-top: 30px;
  }

  .author {
    margin-top: 30px;
    max-height: 380px;
  }

  .author-link-img {
    margin: auto 2px;
  }
}
